args==0.1.0
blis==0.2.4
certifi==2019.3.9
chardet==3.0.4
clint==0.5.1
cymem==2.0.2
en-vectors-web-lg==2.1.0a0
hestia==0.3.0
idna==2.8
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.1
marshmallow==3.0.0rc4
murmurhash==1.0.2
numpy==1.16.2
plac==0.9.6
polyaxon-client==0.4.2
polyaxon-helper==0.4.2
polyaxon-schemas==0.4.2
polystores==0.1.7
preshed==2.0.1
psutil==5.4.7
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requests-toolbelt==0.8.0
rhea==0.4.4
six==1.12.0
spacy==2.1.0
srsly==0.0.5
thinc==7.0.4
tqdm==4.31.1
urllib3==1.24.1
wasabi==0.1.4
websocket-client==0.54.0
